<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form method="POST" action = "register-data">
    <input type="text" name="name" value="">
    <button type="submit">Submit</button>
</form>
</body>
</html>
